package main

templ hello(name string, calculationResult int) {
	<html>
		<head>
			<title>Hello { name }</title>
		</head>
		<body>
			<h1>Hello, { name }!</h1>
			<p>this is a simple Go demo</p>
			
			<p>
				5 + 3 = { calculationResult }
			</p>
		</body>
	</html>
}